@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&display=swap');
body {
    font-family: 'Karla';
    font-size: 35px;
    background-color: #ECFDF5;
}

.container{
    width: 90%;
    margin: 0 auto;
}

h1 {
    padding-bottom: 0;
    font-weight: 800;
}

span {
    display: block;
    color: #10B981;
}

h5 {
    color: #6B7280;
    line-height: 0;
}

button, input{
    background-color: #10B981;
    color: #fff;
    border: none;
    padding: 12px;
    margin-bottom: 40px;
    border-radius: 5px;
    font-family: 'Inter';
    font-size: 1.25rem;
    margin-top: 70px;
    cursor: pointer;
}

input:hover{
    background-color: #273549;
}

p {
    border-top: 1px solid #D5D4D8;
    width: 90%;
}

.passwords{
    display: flex;
    gap: 1em;
}

#first, #second {
    display: inline-block;
    background-color: #273549;
    color: #5DEF92;
    text-align: center;
    width: 50%;
    border-radius: 6px;
    padding: 8px;
    font-size: 1.875rem;
    margin-top: .3em;
}

@media (max-width: 587px) {
    .passwords{
        flex-direction: column;
    }

    #first, #second {
        width: 100%;
    }

    h5{
        line-height: 1;
    }

    button, input{
        margin: 0;
    }
}


